{% extends "basic.html" %}

{% load bootstrap5 %}

{% block title %}Регистрация{% endblock %}

{% block content %}

    <div class="d-flex flex-column align-items-center my-5">

        <h3>Регистрация нового пользователя</h3>

        <form method="post" class="col-md-8 col-sm-12 mt-5">

            {% csrf_token %}

            <div class="mb-3 row">
                <label class="col-md-3 col-form-label" for="id_email">Адрес электронной почты</label>
                <div class="col-md-9">
                    <input type="email" name="email" class="form-control"
                           placeholder="Адрес электронной почты" title="" required="required" id="id_email">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-md-3 col-form-label" for="id_password">Пароль</label>
                <div class="col-md-9">
                    <input type="password" name="password" class="form-control" placeholder="Пароль"
                           title="" required="required" id="id_password">
                </div>
            </div>

            <input type="hidden" name="next" value="">

            <div class="d-flex flex-row justify-content-between mt-5">
                <div>
                    <a class="btn btn-outline-primary" type="button" href="{% url 'core:index' %}">Назад</a>
                </div>
                <button class="btn btn-outline-success" type="submit">Зарегистрироваться</button>
            </div>

        </form>

    </div>

{% endblock %}
