{% load bootstrap5 %}

<div class="container-fluid">

    <div class="d-flex flex-column align-items-center my-5">

        <div class="col-md-8 col-sm-12">
            <h3 class="text-center mb-3 p-2">Ключевые слова</h3>
            <p class="my-1 p-1">
                Отслеживайте позиции сайта по всем интересующим вас ключевым словам.
                Для получения полной картины дополните семантику своего сайта ключевыми словами, собранными при
                помощи сервиса.
            </p>
        </div>

        <form method="post" id="form_id_for_add_keywords"
              action="{% url 'project:add_keywords' view.kwargs.slug %}"
              class="col-md-8 col-sm-12 mt-5">

            {% csrf_token %}

            <div class="mb-3 row">
                <label class="col-md-3 col-form-label" for="id_name">Добавить слова</label>
                <div class="col-md-9">
                        <textarea name="keywords" cols="40" rows="10" maxlength="10000"
                                  class="form-control" placeholder="Перечень слов" title=""
                                  required="required" id="id_keywords"></textarea>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-md-3 col-form-label" for="id_keyword_groups">Группа ключевых слов</label>
                <div class="col-md-9">
                    <select name="keyword_groups" class="form-select" title=""
                            required="required" id="id_keyword_groups"
                            data-url="{% url 'project:add_group_of_keywords' view.kwargs.slug %}">
                        <option value="" selected="">---------</option>
                        {% for one_group_of_keywords in keyword_groups %}
                            <option value="{{ one_group_of_keywords.id }}">{{ one_group_of_keywords }}</option>
                        {% endfor %}
                        <option value="-1" id="createGroup">Создать группу</option>
                    </select>
                </div>
            </div>

            <input type="hidden" name="next" value="{{ next }}">

            <div class="mt-5">
                <button class="btn btn-outline-success" type="submit">Добавить ключевые слова</button>
            </div>

        </form>


        <div class="col-md-5 col-sm-12 mt-3"
             data-url="{% url 'project:add_group_of_keywords' view.kwargs.slug %}"
             id="id_create_keyword_group">
        </div>


        <div class="col-md-8 col-sm-12 mt-5">

            <div class="d-flex justify-content-between">
                <a class="btn btn-outline-primary" type="button"
                   href="{% url 'project:edit_project' view.kwargs.slug %}">Назад</a>
                <a class="btn btn-outline-primary" href="{% url 'project:add_search_system' view.kwargs.slug %}"
                   type="button">Далее</a>
            </div>

        </div>

    </div>

    <div class="d-flex flex-column  align-items-center mt-3" id="listOfKeywordGroupsWithKeywords"
         data-project-slug="{{ view.kwargs.slug }}"
         data-url="{% url 'project:get_keywords_and_keyword_groups_of_project' %}">

        <h4 class="text-center mb-3 p-2">Ключевые слова проекта:</h4>

        <ul class="col-md-8 col-sm-12" id="keyword_groups_list_id"
            data-url="{% url 'project:remove_keyword_or_group_of_keywords' %}">

            {% for keyword_group in keyword_groups %}

                <li class="d-flex justify-content-between">
                    <div class="my-1 p-1">{{ keyword_group }} :</div>
                    <div>
                        <a class="btn btn-outline-danger btn-sm js-remove-keyword-group" type="button"
                           data-keyword-group-id="{{ keyword_group.id }}">Удалить</a>
                    </div>
                </li>

                <ul id="keywordGroupID{{ keyword_group.id }}">
                    {% for keyword in keyword_group.keywords_set.all %}

                        <li class="d-flex justify-content-between my-2">
                            <div class="my-1 p-1">{{ keyword }}</div>
                            <div>
                                <a class="btn btn-outline-danger btn-sm js-remove-keyword" type="button"
                                   data-keyword-id="{{ keyword.id }}">Удалить</a>
                            </div>
                        </li>

                    {% endfor %}
                </ul>

            {% endfor %}

        </ul>

    </div>

</div>