{% load bootstrap5 %}

<div class="container-fluid">

    <div class="d-flex flex-column align-items-center my-3">

        <div class="col-md-8 col-sm-12">
            <h3 class="text-center mb-3 p-2">Поисковые системы</h3>
            <p class="my-1 p-1">
                Отслеживайте позиции по интересующим вас ключевым словам в Яндекс в любых регионах мира.
            </p>
        </div>

        <form method="post" class="col-md-8 col-sm-12 mt-5" id="id_form_search_system"
              action="{% url 'project:add_search_system' view.kwargs.slug %}">

            {% csrf_token %}

            <div class="mb-3 row">
                <label class="col-md-3 col-form-label" for="id_name">Поисковая система</label>
                <div class="col-md-9">
                    <select name="name" class="form-select" title="" id="id_name">
                        <option value="yandex" selected="">Яндекс</option>
                        <option value="google">Google</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-md-3 col-form-label" for="id_country">Страна</label>
                <div class="col-md-9">
                    <input type="text" name="country" maxlength="50"
                           class="form-control" placeholder="Страна" title="" required="required"
                           id="id_country">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-md-3 col-form-label" for="id_select_city">Регион</label>
                <div class="col-md-9">
                    <input type="text" name="city" maxlength="100" class="form-control"
                           placeholder="Регион" title="" required="required"
                           id="id_select_city" data-url="{% url 'project:get_regions' %}">

                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-md-3 col-form-label" for="id_language">Язык</label>
                <div class="col-md-9">
                    <select name="language" class="form-select" title="" id="id_language">
                        <option value="en">English</option>
                        <option value="ru" selected="">Русский</option>
                    </select>
                </div>
            </div>

            <input type="hidden" name="next" value="{{ next }}">

            <input type="hidden" name="city_id">

            <div class="mt-5">
                <button class="btn btn-outline-success" type="submit">Добавить поисковую систему</button>
            </div>

        </form>

        <div class="col-md-8 col-sm-12 mt-5">

            <div class="d-flex justify-content-between">
                <a class="btn btn-outline-primary" type="button"
                   href="{% url 'project:add_keywords' view.kwargs.slug %}">Назад</a>
                <a class="btn btn-outline-primary" href="{% url 'core:index' %}" type="button">Далее</a>
            </div>

        </div>

    </div>


    <div class="d-flex flex-column  align-items-center" data-project-slug="{{ view.kwargs.slug }}"
         id="search_systems">

        <h4 class="text-center mt-3 p-2">Поисковые системы добавленные к этому проекту</h4>

        <div class="col-md-8 col-sm-12 mt-1" id="search_systems_list_id"
             data-url="{% url 'project:get_project_search_engines' %}"
             data-object-delete-url="{% url 'project:remove_search_system' %}">

            <ol>
                {% for search_system in search_systems %}
                    <li class="d-flex justify-content-between my-2">
                        <div class="my-1 p-1">{{ search_system }}</div>
                        <div>
                            <a class="btn btn-outline-danger btn-sm js-remove-search-system"
                               type="button" data-search-system-id="{{ search_system.id }}">Удалить</a>
                        </div>
                    </li>

                {% endfor %}
            </ol>
        </div>

    </div>

</div>