{% load bootstrap5 %}

{# Просто вставить данный шаблон в то место где нужна пагинация #}
{#        {% include 'partials/pagination.html' %}      #}

{% if is_paginated %}

    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-end pagination-sm mx-3 p-1">

            <li class="page-item {% if not prev_page_url %} disabled {% endif %}">
                <a class="page-link" href="{{ prev_page_url }}" tabindex="-1" aria-disabled="true">Предыдущая</a>
            </li>

            {% for page_number in site_ratings.paginator.page_range %}

                {% if site_ratings.number == page_number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% elif page_number > site_ratings.number|add:-3 and page_number < site_ratings.number|add:3 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% endif %}

            {% endfor %}

            <li class="page-item {% if not next_page_url %} disabled {% endif %}">
                <a class="page-link" href="{{ next_page_url }}" tabindex="-1" aria-disabled="true">Следующая</a>
            </li>

        </ul>
    </nav>

{% endif %}