<div class="d-flex flex-column flex-shrink-0 p-3">

    <form class="align-self-stretch mt-4"
          action="{% url 'project:search_project_in_user_projects' %}"
          id="sidebar_form_id">
        {% csrf_token %}
        <div>
            <input class="form-control" type="search" name="search_for_projects"
                   id="searching_projects" placeholder="Поиск проектов ..." maxlength="25">
        </div>
    </form>

    <h5 class="align-self-start mt-4 mb-2 px-3">Проекты</h5>

    <ul class="nav nav-pills flex-column" id="sidebar-id" style="font-size: 17px; padding-inline-start: 0;">
        {% for project in all_user_projects %}
            <li class="d-flex flex-row justify-content-between align-items-center">

                <div>
                    <a class="nav-link" href="{{ project.get_absolute_url }}"
                       style="color: #EEEEEE; text-decoration:none;">{{ project.name }}</a>
                </div>

                <div class="d-flex flex-row justify-content-between">
                    <div>
                        <a class="btn btn-light btn-sm me-2" href="#" type="button"
                           style="background-color: #E9F2FD; color: #454545; width: 55px">
                            {% if project.date_of_check %}
                                {{ project.date_of_check|date:"d.m" }}
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                     class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                                </svg>
                            {% endif %}
                        </a>
                    </div>
                    <div>
                        <a class="btn btn-light btn-sm" href="{% url 'project:edit_project' project.slug %}"
                           type="button" style="background-color: #E9F2FD; color: #454545; width: 55px">edit
                        </a>
                    </div>
                </div>

            </li>
        {% empty %}
            <li class="mt-1 p-1">У вас нет проектов.</li>
        {% endfor %}
    </ul>

    <div class="align-self-center mt-4" id="start_checking_projects">
        <a class="btn btn-primary js-get-positions" data-project-slug="{{ project.slug }}"
           data-url="{% url 'project:start_checking_keyword_groups' %}"
           data-running_check_status="checking_all_user_projects"
           type="button" id="id_of_button_to_start_checking">Снять все позиции</a>
    </div>

</div>



