<div class="d-flex flex-column align-items-start px-2 py-2 mx-3 mt-5 ">

    <h3 class="align-self-center p-2 mb-3">{{ project.name }}</h3>

    <div class="my-1 p-1">
        <a class="btn btn-link" href="{% url 'project:edit_project' project.slug %}" type="button"
           style="color: #EEEEEE;">Общая информация</a>
    </div>
    <div class="my-1 p-1">
        <a class="btn btn-link" href="{% url 'project:edit_keywords' project.slug %}" type="button"
           style="color: #EEEEEE;">Ключевые слова</a>
    </div>
    <div class="my-1 p-1">
        <a class="btn btn-link" href="{% url 'project:edit_search_systems' project.slug %}" type="button"
           style="color: #EEEEEE;">Поисковые системы</a>
    </div>

</div>