{% extends "basic.html" %}

{% load bootstrap5 %}

{% block title %}Добавление проекта{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="d-flex flex-column align-items-center my-5 ">

            <div class="col-md-8 col-sm-12">
                <h3 class="text-center mb-3 p-2">Общая информация</h3>
                <p class="my-1 p-1">
                    Отслеживайте позиции вашего сайта в режиме реального времени во всех основных поисковых
                    системах.
                    Вы можете настроить параметры проекта и проверку позиций согласно вашим требованиям
                </p>
            </div>

            <form method="post" class="col-md-8 col-sm-12 mt-5">
                {% csrf_token %}

                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label" for="id_name">Название проекта</label>
                    <div class="col-md-9">
                        <input type="text" name="name" maxlength="255" class="form-control"
                               placeholder="Название проекта" title="" required="required" id="id_name">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label" for="id_domain">Адрес сайта</label>
                    <div class="col-md-9">
                        <input type="url" name="domain" maxlength="50" class="form-control"
                               placeholder="Адрес сайта" title="" required="required" id="id_domain">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label" for="id_limit_position">Глубина сбора позиций</label>
                    <div class="col-md-9">
                        <select name="limit_position" class="form-select"
                                title="Сервис будет искать сайт включительно до 100-й или 200-й позиции"
                                id="id_limit_position">
                            <option value="100" selected="">100</option>
                            <option value="200">200</option>
                        </select>
                        <small class="form-text text-muted">
                            Сервис будет искать сайт включительно до 100-й или 200-й позиции
                        </small>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label" for="id_start_check">Периодичность проверок</label>
                    <div class="col-md-9">
                        <select name="start_check" class="form-select" title="" id="id_start_check">
                            <option value="daily">Ежедневно</option>
                            <option value="every_three_days">Раз в 3 дня</option>
                            <option value="weekly" selected="">Раз в неделю</option>
                            <option value="monthly">Раз в месяц</option>
                            <option value="on_request">По запросу</option>
                        </select></div>
                </div>

                <input type="hidden" name="next" value="{{ next }}">

                <div class="d-flex flex-row justify-content-between mt-5">
                    <div>
                        <a class="btn btn-outline-primary" type="button" href="{% url 'core:index' %}">Назад</a>
                    </div>
                    <button class="btn btn-outline-success" type="submit">Создать проект</button>
                </div>

            </form>

        </div>

    </div>

{% endblock %}
