{% extends "basic.html" %}

{% load bootstrap5 %}

{% block content %}

    <div class="d-flex flex-column">


        <div class="d-flex flex-row align-items-center" style="background-color: #E9F2FD; min-height: 60px;">
            <p class="ms-4 me-1 my-1 p-2">{{ project.name }}</p>
            <p class="mx-3 my-1 p-2">Проверено: {{ project.date_of_check|date:"d.m.y" }}</p>
            <p class="flex-fill mx-3 my-1 p-2">Место для доп. информации и кнопок </p>

            <div class="d-flex flex-row mx-4">
                <a class="btn btn-outline-primary btn-sm me-2 js-get-positions" type="button"
                   data-project-slug="{{ project.slug }}"
                   data-url="{% url 'project:start_checking_keyword_groups' %}">Снять все позиции</a>
                <a class="btn btn-outline-primary btn-sm ms-2" id="project_settings"
                   href="{% url 'project:edit_project' project.slug %}" type="button">Настройки проекта</a>
            </div>

        </div>

        <form class="d-flex flex-column px-4 my-5  ms-1" data-project-slug="{{ project.slug }}"
              action="{% url 'project:filter_project_data' %}" method="post" id="projectDataFilteringForm">

            <fieldset class="d-flex flex-row">
                <legend class="col-form-label col-1">Даты:</legend>
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="check_period" id="three_months" checked
                               value="3" type="radio">
                        <label class="col-form-label" for="three_months">3 месяца</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="check_period" id="six_months" value="6" type="radio">
                        <label class="col-form-label" for="six_months">6 месяцев</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="check_period" id="year" value="12" type="radio">
                        <label class="col-form-label" for="year">Год</label>
                    </div>
                </div>
            </fieldset>

            <fieldset class="d-flex flex-row">
                <legend class="col-form-label col-1">ПС:</legend>
                <div class="col-sm-8">
                    {% for search_system in search_systems %}
                        {% if forloop.first %}
                            <div class="form-check form-check-inline">
                                <label class="col-form-label"
                                       for="search_system_id_{{ search_system.id }}">{{ search_system.city }}</label>
                                <input class="form-check-input" type="radio" name="search_system"
                                       value="{{ search_system.id }}"
                                       id="search_system_id_{{ search_system.id }}" checked="checked">
                            </div>
                        {% else %}
                            <div class="form-check form-check-inline">
                                <label class="col-form-label"
                                       for="search_system_id_{{ search_system.id }}">{{ search_system.city }}</label>
                                <input class="form-check-input" type="radio" name="search_system"
                                       value="{{ search_system.id }}" id="search_system_id_{{ search_system.id }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </fieldset>


            <fieldset class="d-flex flex-row" id="search_system_keyword_groups">
                <legend class="col-form-label col-1">Группы:</legend>
                <div class="col-sm-8">
                    {% for keyword_group in keyword_groups %}
                        {% if forloop.counter == 1 %}
                            <div class="form-check form-check-inline">
                                <label class="col-form-label"
                                       for="keyword_group_id_{{ keyword_group.id }}">{{ keyword_group.name }}</label>
                                <input class="form-check-input" type="radio" name="keyword_group"
                                       value="{{ keyword_group.id }}"
                                       id="keyword_group_id_{{ keyword_group.id }}" checked>
                            </div>
                        {% else %}
                            <div class="form-check form-check-inline">
                                <label class="col-form-label"
                                       for="keyword_group_id_{{ keyword_group.id }}">{{ keyword_group.name }}</label>
                                <input class="form-check-input" type="radio" name="keyword_group"
                                       value="{{ keyword_group.id }}" id="keyword_group_id_{{ keyword_group.id }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </fieldset>

        </form>


        <div class="table-responsive" id="siteRatingsTableId">

            <table class="table table-hover table-borderless table-sm">
                {% regroup site_ratings|dictsort:"keywords" by keywords as keyword_rankings_list %}


                {% for one_keyword_rating in keyword_rankings_list reversed %}
                    <thead>
                    {% if forloop.counter == 1 %}
                        <tr>
                            <td style="background-color: #E9F2FD">Страница</td>
                            <td style="background-color: #E9F2FD">Ключевая фраза</td>
                            {% for item in one_keyword_rating.list %}
                                <td class="px-0" style="background-color: #E9F2FD">
                                    <div class="px-2">{{ item.created|date:"d.m.y" }}</div>
                                </td>

                            {% endfor %}
                        </tr>
                    {% endif %}
                    </thead>

                    <tbody>

                    <tr>
                        {% for item in one_keyword_rating.list %}
                            {% if forloop.counter == 1 %}
                                <td class="text-nowrap">{{ item.url_site }}</td>
                                <td class="text-nowrap">{{ one_keyword_rating.grouper }}</td>
                            {% endif %}

                            {% if 0 < item.position and item.position <= 5 %}
                                <td class="px-0">
                                    <div class="d-flex color-pos-1-5">
                                        <div class="ps-2 pe-1">
                                            {{ item.position }}
                                        </div>
                                        {% if item.position_difference > 0 %}
                                            <div style="font-size:65%">+{{ item.position_difference }}</div>
                                        {% elif item.position_difference == 0 %}
                                            <div style="font-size:65%">-</div>
                                        {% else %}
                                            <div style="font-size:65%">{{ item.position_difference }}</div>
                                        {% endif %}
                                    </div>
                                </td>
                            {% endif %}

                            {% if 6 <= item.position and item.position <= 12 %}
                                <td class="px-0">
                                    <div class="d-flex color-pos-6-12">
                                        <div class="ps-2 pe-1">
                                            {{ item.position }}
                                        </div>
                                        {% if item.position_difference > 0 %}
                                            <div style="font-size:65%">+{{ item.position_difference }}</div>
                                        {% elif item.position_difference == 0 %}
                                            <div style="font-size:65%">-</div>
                                        {% else %}
                                            <div style="font-size:65%">{{ item.position_difference }}</div>
                                        {% endif %}
                                    </div>
                                </td>
                            {% endif %}

                            {% if 13 <= item.position and item.position <= 19 %}
                                <td class="px-0">
                                    <div class="d-flex color-pos-13-19">
                                        <div class="ps-2 pe-1">
                                            {{ item.position }}
                                        </div>
                                        {% if item.position_difference > 0 %}
                                            <div style="font-size:65%">+{{ item.position_difference }}</div>
                                        {% elif item.position_difference == 0 %}
                                            <div class="mx-1" style="font-size:65%">-</div>
                                        {% else %}
                                            <div style="font-size:65%">{{ item.position_difference }}</div>
                                        {% endif %}
                                    </div>
                                </td>
                            {% endif %}

                            {% if 20 <= item.position and item.position <= 29 %}
                                <td class="px-0">
                                    <div class="d-flex color-pos-20-29">
                                        <div class="ps-2 pe-1">
                                            {{ item.position }}
                                        </div>
                                        {% if item.position_difference > 0 %}
                                            <div style="font-size:65%">+{{ item.position_difference }}</div>
                                        {% elif item.position_difference == 0 %}
                                            <div style="font-size:65%">-</div>
                                        {% else %}
                                            <div style="font-size:65%">{{ item.position_difference }}</div>
                                        {% endif %}
                                    </div>
                                </td>
                            {% endif %}

                            {% if 30 <= item.position and item.position <= 39 %}
                                <td class="px-0">
                                    <div class="d-flex color-pos-30-39">
                                        <div class="ps-2 pe-1">
                                            {{ item.position }}
                                        </div>
                                        {% if item.position_difference > 0 %}
                                            <div style="font-size:65%">+{{ item.position_difference }}</div>
                                        {% elif item.position_difference == 0 %}
                                            <div style="font-size:65%">-</div>
                                        {% else %}
                                            <div style="font-size:65%">{{ item.position_difference }}</div>
                                        {% endif %}
                                    </div>
                                </td>
                            {% endif %}

                            {% if 40 <= item.position and item.position <= 49 %}
                                <td class="px-0">
                                    <div class="d-flex color-pos-40-49">
                                        <div class="ps-2 pe-1">
                                            {{ item.position }}
                                        </div>
                                        {% if item.position_difference > 0 %}
                                            <div style="font-size:65%">+{{ item.position_difference }}</div>
                                        {% elif item.position_difference == 0 %}
                                            <div style="font-size:65%">-</div>
                                        {% else %}
                                            <div style="font-size:65%">{{ item.position_difference }}</div>
                                        {% endif %}
                                    </div>
                                </td>
                            {% endif %}

                            {% if 50 <= item.position and item.position <= 100 %}
                                <td class="px-0">
                                    <div class="d-flex color-pos-50-100">
                                        <div class="ps-2 pe-1">
                                            {{ item.position }}
                                        </div>
                                        {% if item.position_difference > 0 %}
                                            <div style="font-size:65%">+{{ item.position_difference }}</div>
                                        {% elif item.position_difference == 0 %}
                                            <div style="font-size:65%">-</div>
                                        {% else %}
                                            <div style="font-size:65%">{{ item.position_difference }}</div>
                                        {% endif %}
                                    </div>
                                </td>
                            {% endif %}

                        {% endfor %}

                    </tr>

                    </tbody>

                {% endfor %}

            </table>

        </div>

    </div>

{% endblock %}



{#{% for one_keyword_rating in keyword_rankings_list %}#}
{#    {% if forloop.counter == 1 %}#}
{#        <li class="d-flex flex-row align-items-center">#}
{#            <div class="p-1 col-md-3">Страница</div>#}
{#            <div class="p-1 flex-fill">Ключевая фраза</div>#}
{#            {% for item in one_keyword_rating.list %}#}
{#                <div class="p-1 col-md-1">{{ item.created|date:"d.m.y" }}</div>#}
{#            {% endfor %}#}
{#        </li>#}
{#    {% endif %}#}
{#    <li class="d-flex flex-row align-items-center">#}
{#        {% for item in one_keyword_rating.list %}#}
{#            {% if forloop.counter == 1 %}#}
{#                <div class="p-1 col-md-3">{{ item.url_site }}</div>#}
{#                <div class="p-1 flex-fill">{{ one_keyword_rating.grouper }}</div>#}
{#            {% endif %}#}
{#            <div class="p-1 col-md-1">{{ item.position }}</div>#}
{#        {% endfor %}#}
{#    </li>#}
{#{% endfor %}#}


{# Возникли проблемы при динамическом создание набора переключателей #}

{#  <form class="d-flex flex-column px-4 my-5  ms-1" data-project-id="{{ project.id }}"#}
{#              action="{% url 'project:filter_project_data' %}" method="post" id="projectDataFilteringForm">#}
{##}
{#            <fieldset>#}
{#                <legend class="col-form-label col-sm-1">Даты:</legend>#}
{#                <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">#}
{#                    <input class="btn-check" name="check_period" id="three_months" autocomplete="off" checked#}
{#                           value="3" type="radio">#}
{#                    <label class="btn btn-outline-primary rounded me-4" for="three_months">3 месяца</label>#}
{#                    <input class="btn-check" name="check_period" id="six_months" value="6" type="radio"#}
{#                           autocomplete="off">#}
{#                    <label class="btn btn-outline-primary rounded me-4 " for="six_months">6 месяцев</label>#}
{#                    <input class="btn-check" name="check_period" id="year" autocomplete="off" value="12"#}
{#                           type="radio">#}
{#                    <label class="btn btn-outline-primary rounded" for="year">Год</label>#}
{#                </div>#}
{##}
{#            </fieldset>#}
{##}
{#            <fieldset>#}
{#                <legend class="col-form-label col-sm-1">ПС:</legend>#}
{#                <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">#}
{#                    {% for search_system in search_systems %}#}
{#                        {% if forloop.first %}#}
{#                            <input class="btn-check" type="radio" name="search_system"#}
{#                                   value="{{ search_system.id }}"#}
{#                                   id="search_system_id_{{ search_system.id }}" checked>#}
{#                            <label class="btn btn-outline-primary rounded me-4"#}
{#                                   for="search_system_id_{{ search_system.id }}">{{ search_system.city }}</label>#}
{#                        {% else %}#}
{#                            <input class="btn-check" type="radio" name="search_system"#}
{#                                   value="{{ search_system.id }}" id="search_system_id_{{ search_system.id }}">#}
{#                            <label class="btn btn-outline-primary rounded me-4"#}
{#                                   for="search_system_id_{{ search_system.id }}">{{ search_system.city }}</label>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </fieldset>#}
{#  #}
{#            <fieldset id="search_system_keyword_groups">#}
{#                <legend class="col-form-label col-1">Группы:</legend>#}
{#                <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">#}
{#                    {% for keyword_group in keyword_groups %}#}
{#                        {% if forloop.counter == 1 %}#}
{#                            <input class="btn-check" type="radio" name="keyword_group"#}
{#                                   value="{{ keyword_group.id }}"#}
{#                                   id="keyword_group_id_{{ keyword_group.id }}" checked>#}
{#                            <label class="btn btn-outline-primary rounded me-4"#}
{#                                   for="keyword_group_id_{{ keyword_group.id }}">{{ keyword_group.name }}</label>#}
{#                        {% else %}#}
{#                            <input class="btn-check" type="radio" name="keyword_group"#}
{#                                   value="{{ keyword_group.id }}" id="keyword_group_id_{{ keyword_group.id }}">#}
{#                            <label class="btn btn-outline-primary rounded me-4"#}
{#                                   for="keyword_group_id_{{ keyword_group.id }}">{{ keyword_group.name }}</label>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </fieldset>#}
{#  #}
{#        </form>#}


{#  таблица созданная с помощью ul  #}

{# <div class="mx-3 p-1">#}
{#            {% regroup ratings_page_object.object_list|dictsort:"keywords" by keywords as keyword_rankings_list %}#}
{##}
{#            <ul class="d-flex flex-column" id="siteRatingsTableId"#}
{#                style="list-style-type: none; padding-inline-start: 0;">#}
{##}
{#                {% for one_keyword_rating in keyword_rankings_list reversed %}#}
{#                    {% if forloop.counter == 1 %}#}
{#                        <li class="d-flex flex-row align-items-center">#}
{#                            <div class="p-1 col-md-2" style="background-color: #E9F2FD">Страница</div>#}
{#                            <div class="p-1 flex-fill" style="background-color: #E9F2FD">Ключевая фраза</div>#}
{#                            {% for item in one_keyword_rating.list %}#}
{#                                <div class="p-1 col-md-1"#}
{#                                     style="background-color: #E9F2FD">{{ item.created|date:"d.m.y" }}</div>#}
{#                            {% endfor %}#}
{#                        </li>#}
{#                    {% endif %}#}
{#                    <li class="d-flex flex-row align-items-center">#}
{#                        {% for item in one_keyword_rating.list %}#}
{#                            {% if forloop.counter == 1 %}#}
{#                                <div class="p-1 col-md-2">{{ item.url_site }}</div>#}
{#                                <div class="p-1 flex-fill">{{ one_keyword_rating.grouper }}</div>#}
{#                            {% endif %}#}
{#                            <div class="d-flex flex-row col-md-1">#}
{#                                <div class="px-1 pb-1">{{ item.position }}</div>#}
{#                                {% if item.position_difference > 0 %}#}
{#                                    <div class="px-1 pb-2" style="font-size:65%">+{{ item.position_difference }}</div>#}
{#                                {% elif item.position_difference == 0  %}#}
{#                                    <div class="px-1 pb-2" style="font-size:65%">-</div>#}
{#                                {% else %}#}
{#                                    <div class="px-1 pb-2" style="font-size:65%">{{ item.position_difference }}</div>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </li>#}
{#                {% endfor %}#}
{##}
{#            </ul>#}
{##}
{#        </div>#}